<div class='container-fluid'>    
    <div ng-include src="'/partials/navigation.html'"></div>
    <div class='container-fluid'>
        <div class='row'>
                <!--<div class="page-header">
                  
                </div>-->
            <div class="col-md-6">
                <form role='form' class="new_form">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Lisää resepti</h3>
                        </div>
                        <div class="panel-body">
                            
                            <div class="form-group">
                                <!--subject -->
                                <label for="subject">Reseptin nimi</label><br/>
                                <input type="text" id="subject" class="form-control" ng-model='recipe.subject'>
                    
                                <br/>
                                <!--category -->
                                <label for="cat">Kategoria</label><br/>
                                    <div data-role="fieldcontain">
                                        
                                        <fieldset data-role="controlgroup" data-type="horizontal">
                                            <!--<legend>Font styling:</legend>-->
                                            <input type="checkbox" name="checkbox-alkupala" id="checkbox-alkupala" class="custom">
                                            <label for="checkbox-alkupala">Alkupala  </label>
                                            <input type="checkbox" name="checkbox-paaruoka" id="checkbox-paaruoka" class="custom">
                                            <label for="checkbox-paaruoka">Pääruoka  </label>
                                            <input type="checkbox" name="checkbox-jalkiruoka" id="checkbox-jalkiruoka" class="custom">
                                            <label for="checkbox-jalkiruoka">Jälkiruoka</label><br/>
                                            <input type="checkbox" name="checkbox-keitto" id="checkbox-keitto" class="custom">
                                            <label for="checkbox-keitto">Keitto</label>
                                            <input type="checkbox" name="checkbox-pasta" id="checkbox-pasta" class="custom">
                                            <label for="checkbox-pasta">Pasta</label>
                                            <input type="checkbox" name="checkbox-leipa" id="checkbox-leipa" class="custom">
                                            <label for="checkbox-leipa">Leipä/Sämpylät</label><br/>
                                            <input type="checkbox" name="checkbox-valipala" id="checkbox-valipala" class="custom">
                                            <label for="checkbox-valipala">Välipala</label>
                                            <input type="checkbox" name="checkbox-kastike" id="checkbox-kastike" class="custom">
                                            <label for="checkbox-kastike">Kastike</label>
                                            <input type="checkbox" name="checkbox-pizza" id="checkbox-pizza" class="custom">
                                            <label for="checkbox-pizza">Pizza</label><br/>
                                            
                                            <input type="checkbox" name="checkbox-salaatti" id="checkbox-salaatti" class="custom">
                                            <label for="checkbox-salaatti">Salaatti</label>
                                            <input type="checkbox" name="checkbox-makea" id="checkbox-makea" class="custom">
                                            <label for="checkbox-makea">Makea leivonnainen</label>
                                            <input type="checkbox" name="checkbox-suola" id="checkbox-suola" class="custom">
                                            <label for="checkbox-suola">Suolainen leivonnainen</label>
                                        </fieldset>
                                    </div>

                                <br/>
                                <!--amount -->
                                <label for="amount">Määrä</label><br/>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            
                                        
                                        
                                        
                                        <!--
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" aria-label="..."> kpl
                                            </span>
                                            <input type="text" class="form-control" aria-label="...">
                                            
                                            <span class="input-group-addon">
                                                <input type="radio" aria-label="...">
                                            </span>
                                            <input type="text" class="form-control" aria-label="...">
                                        </div><!-- /input-group 
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" aria-label="...">
                                            </span>
                                            <input type="text" class="form-control" aria-label="...">
                                        </div>--><!-- /input-group -->
                                            </div>
                                    </div><!-- /.col-lg-6 -->
                                <br/>
                                <br/>
                                <!--ingredients -->
                                <label for="ing">Raaka-aineet</label><br/>
                                
                    
                                <br/>
                                <!--instructions -->
                                <label for="inst">Ohjeet</label><br/>
                                <textarea class="form-control" ng-model='recipe.instructions'></textarea>
                                
                                <br/>
                                <!--description -->
                                <label for="desc">Kuvaus</label><br/>
                                <textarea class="form-control" ng-model='recipe.description'></textarea>
                                        
                                <label for="source">Lähde</label><br/>
                                <input type="text" id="source" class="form-control" ng-model='recipe.source'>

                            </div>
                        </div>
                    </div>
                                        
                    <button type="button" class="btn btn-default" ng-click='recipe.newRecipe()'>Tallenna</button>
                </form>
            </div>
        </div>
    </div>
</div>
